@model IEnumerable<CategoryWithInfoAuction>

@{
    Layout = "_AreaPublica";
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Welcome to Auksjon, your auction site.</h1>
    <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
</header>
<section class="tiles">
    @foreach (var category in Model)
    {
        var style = $"style{category.Id}";
        <article class="@style">
            <span class="image">
                <img src="@category.Image" alt="@category.Description" />
            </span>
            <a asp-action="Category" asp-controller="Home" asp-route-id="@category.Id">
                <h2>@category.Description</h2>
                <div class="content">
                    <p>@category.InFloor auctions in progress.</p>
                </div>
            </a>
        </article>
    }
</section>